@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  body {
    @apply font-primary text-text-primary;
  }

  button {
    @apply cursor-pointer;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="tel"],
  input[type="url"],
  input[type="search"],
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  textarea,
  select {
    @apply bg-[#F9F9F9] rounded-xl border border-[#DBDBDB] text-sm md:text-base 2xl:text-lg;
  }

  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="password"]::placeholder,
  input[type="number"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="url"]::placeholder,
  input[type="search"]::placeholder,
  textarea::placeholder {
    font-size: 0.875rem;
    /* text-sm */
  }

  @media (min-width: 768px) {

    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    input[type="password"]::placeholder,
    input[type="number"]::placeholder,
    input[type="tel"]::placeholder,
    input[type="url"]::placeholder,
    input[type="search"]::placeholder,
    textarea::placeholder {
      font-size: 1rem;
      /* text-base */
    }
  }

  @media (min-width: 1536px) {

    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    input[type="password"]::placeholder,
    input[type="number"]::placeholder,
    input[type="tel"]::placeholder,
    input[type="url"]::placeholder,
    input[type="search"]::placeholder,
    textarea::placeholder {
      font-size: 1.125rem;
      /* text-lg */
    }
  }
}